tr:nth-child(even) {
    background-color: #f2f2f2;
}

#header {
    background-color: black;
    color: white;
}

#secheader {
    background-color: grey;
    color: white;
}

#placeholder {
    background-color: black;
    color: black;
}