@media screen and (max-width: 390px){
    #content {
        width:100%;
        background-color: white;
        margin: 0;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    .mainelement {
        background-color: #AADCEE;
        text-align: center;
    }

    .mainelementhead {
        font-size: 1.25rem;
        font-weight: bold;
    }

    /* header */

    #header {
        display: grid;
        grid-template-rows: 100px 50px;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    #topnav {
        display: grid;
        grid-template-columns: 80px 1fr 80px;
        grid-template-rows: 40px 40px;
        grid-row: 1;
        height: 80px;
        text-align: center;
    }

    #logo {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1/3;
    }

    #topnav1 {
        grid-column: 2;
        grid-row: 1;
    }

    #topnav2 {
        grid-column: 2;
        grid-row: 2;
    }

    #menu {
        display: inline-block;
        cursor: pointer;
        grid-column: 3;
        grid-row: 1/3;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    /* Fade out the second bar */
    .change .bar2 {opacity: 0;}
    
    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    #bottomnav {
        grid-row: 2;
        text-align: center;
    }


    /* Main */

    #main {
        display: grid;
        grid-template-rows: 5(1fr);
        margin: 5px;
    }

    #hero {
        grid-row: 1;
        width: 100%;
        height: 200px;
        margin-top: 20px;
        background-image: url(/wdd230/chamber/images/sneadsferryhero.jpg);
    }

    /* #heroimg {
        width: 100%;
        height: 100%;
    } */

    #joinElement {
        width: 200px;
        height: 35px;
        z-index: 150;
        position: absolute;
        top: 250px;
        right: 10px;
        color: white;
        font-size: 1.5rem;
        background-color: #AADCEE;
        border-radius: 5px;
        text-align: center;
    }

    #jointext {
        margin: 5px;
        color: black;
        font-weight: bold;
    }

    #eventElement {
        grid-row: 2;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
    }

    #weatherElement {
        grid-row: 3;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 2(1fr);
    }

    #weatherElementHead {
        grid-column: 1/3;
        grid-row: 1;
    }

    #currenttemp {
        grid-column: 1/2;
        grid-row: 2;
    }

    #condtion {
        grid-column: 1/2;
        grid-row: 2;
    }

    #weatherSubdiv {
        grid-column: 2/3;
        grid-row: 2/4;
        display: grid;
        grid-template-rows: 3(1fr);
    }
    #lowtemp {
        grid-row: 1;
    }
    #hightemp {
        grid-row: 2;
    }
    #humidity {
        grid-row: 3;
    }


    #newsElement {
        grid-row: 4;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
    }

    #spotlightElement {
        grid-row: 5;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr;

    }

    #spotlight1 {
        grid-row: 1;
        border: 1px solid;
        margin: 5px;
    }

    #spotlight2 {
        grid-row: 2;
        border: 1px solid;
        margin: 5px;
    }

    /* Footer */

    #footer {
        background-color: white;
        text-align: center;
        margin-top: 20px;
    }

    #footerlogo {
        width: 50%;
        height: 50%;
        margin-top: 10px;
    }

    #footername {
        font-size: .75em;
    }

}

@media screen and (min-width: 391px){
    #content {
        width:100%;
        background-color: white;
        margin: 0;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    /* header */

    #header {
        display: grid;
        grid-template-rows: 100px 50px;
        width: 100%;
        height: 100%;
        background-color: white;  
    }

    #topnav {
        display: grid;
        grid-template-columns: 80px 1fr 80px;
        grid-template-rows: 40px 40px;
        grid-row: 1;
        height: 80px;
        text-align: center;
    }

    #logo {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1/3;
    }

    #topnav1 {
        grid-column: 2;
        grid-row: 1;
    }

    #topnav2 {
        grid-column: 2;
        grid-row: 2;
    }

    #menu {
        display: inline-block;
        cursor: pointer;
        grid-column: 3;
        grid-row: 1/3;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    /* Fade out the second bar */
    .change .bar2 {opacity: 0;}
    
    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    #bottomnav {
        grid-row: 2;
        text-align: center;
    }


    /* Main */

    #main {
        display: grid;
        grid-template-columns: 3(1/3);
        grid-template-rows: 5(1fr);
        margin: 5px;
        
    }

    .mainelement{
        background-color: #AADCEE;
    }

    #hero {
        grid-column: 1/4;
        grid-row: 1;
        width: 100%;
        height: 200px;
        margin-top: 20px;
        background-image: url(/wdd230/chamber/images/sneadsferryhero-medium.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }

    #joinElement {
        grid-column: 1/4;
        grid-row: 4;
        height: 150px;
        width: 100%;
        text-align: center;
        border: 1px solid;
        margin-top: 10px;
    }

    #jointext {
        margin: 50px;
        color: black;
        font-weight: bold;
    }

    #eventElement {
        grid-column: 1/3;
        grid-row: 5;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        margin-right: 5px;
        text-align: center;
    }

    #weatherElement {
        grid-column: 3;
        grid-row: 5;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        margin-left: 5px;
    }

    #newsElement {
        grid-column: 1/4;
        grid-row: 2;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        text-align: center;
    }

    #spotlightElement {
        grid-column: 1/4;
        grid-row: 3;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 2(1fr);

    }

    #spotlight1 {
        grid-column: 1;
        border: 1px solid;
        margin: 5px;
    }

    #spotlight2 {
        grid-column: 2;
        border: 1px solid;
        margin: 5px;
    }

    /* Footer */

    #footer {
        background-color: white;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: 100px 1fr;
    }

    #footerlogo {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        float: left;
    }

    #footerp {
        grid-column: 2/4;
        
    }

    #footername {
        grid-column: 1/3;
        grid-row: 2;
        font-size: .75em;
        text-align: center;
    }

}

@media screen and (min-width: 912px){
    #content {
        width:100%;
        background-color: #AADCEE;
        margin: 0;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    #header {
        display: grid;
        grid-template-rows: 100px 50px;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    #topnav {
        display: grid;
        grid-template-columns: 80px 1fr 80px;
        grid-template-rows: 40px 40px;
        grid-row: 1;
        height: 80px;
        text-align: center;
    }

    #logo {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1/3;
    }

    #topnav1 {
        grid-column: 2;
        grid-row: 1;
    }

    #topnav2 {
        grid-column: 2;
        grid-row: 2;
    }

    #menu {
        display: inline-block;
        cursor: pointer;
        grid-column: 3;
        grid-row: 1/3;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    /* Fade out the second bar */
    .change .bar2 {opacity: 0;}
    
    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    #bottomnav {
        grid-row: 2;
        text-align: center;
    }


    /* Main */

    #main {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 3(1fr);
        margin-left: 0px;
    }

    #hero {
        grid-column: 2;
        grid-row: 1/3;
        width: auto;
        height: auto;
        margin: 10px 0px 10px 0px;
        background-image: url(/wdd230/chamber/images/sneadsferryhero-large.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }

    #eventElement {
        grid-column: 1;
        grid-row: 1;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
    }

    #weatherElement {
        grid-column: 1;
        grid-row: 2;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
    }

    #joinElement {
        grid-column: 1;
        grid-row: 3;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
    }

    #newsElement {
        grid-column: 2;
        grid-row: 3;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
    }

    #spotlightElement {
        grid-column: 3;
        grid-row: 1/4;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3(1/3);
    }

    #spotlight1 {
        grid-column: 1;
        grid-row: 1;
        border: solid 1px;
        margin: 5px;
    }

    #spotlight2 {
        grid-column: 1;
        grid-row: 2;
        border: solid 1px;
        margin: 5px;
    }

    #spotlight3 {
        grid-column: 1;
        grid-row: 3;
        border: solid 1px;
        margin: 5px;
    }

    /* Footer */

    #footer {
        background-color: white;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: 100px 1fr;
    }

    #footerlogo {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        float: left;
    }

    #footerp {
        grid-column: 2/4;
        
    }

    #footername {
        grid-column: 1/3;
        grid-row: 2;
        font-size: .75em;
        text-align: center;
    }

}