@media screen and (max-width: 390px){
    #content {
        width:100%;
        background-color: white;
        margin: 0;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    .mainelement {
        background-color: #AADCEE;
        text-align: center;
    }

    .mainelementhead {
        font-size: 1.25rem;
        font-weight: bold;
    }

    /* header */

    #header {
        display: grid;
        grid-template-rows: 100px 50px;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    #topnav {
        display: grid;
        grid-template-columns: 80px 1fr 80px;
        grid-template-rows: 40px 40px;
        grid-row: 1;
        height: 80px;
        text-align: center;
    }

    #logo {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1/3;
    }

    #topnav1 {
        grid-column: 2;
        grid-row: 1;
    }

    #topnav2 {
        grid-column: 2;
        grid-row: 2;
    }

    #menu {
        display: inline-block;
        cursor: pointer;
        grid-column: 3;
        grid-row: 1/3;
    }
    /* hide links */
    #topnav #myLinks {
        grid-column: 3;
        grid-row: 2;
        font-weight: bold;
        color: black;
        text-align: right;
        display: none;
    }

    /* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a#icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}



    #bottomnav {
        grid-row: 2;
        text-align: center;
    }


    /* Main */

    #main {
        display: grid;
        grid-template-rows: auto;
        margin: 5px;
    }

    .hero {
        grid-row: 1;
        width: 100%;
        height: 200px;
        margin-top: 20px;
        background-image: url(/wdd230/chamber/images/sneadsferryhero.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }

    #joinElement {
        width: 200px;
        height: 35px;
        z-index: 150;
        position: absolute;
        top: 250px;
        right: 10px;
        color: white;
        font-size: 1.5rem;
        background-color: #AADCEE;
        border-radius: 5px;
        text-align: center;
    }

    #jointext {
        margin: 5px;
        color: black;
        font-weight: bold;
    }

    #eventElement, #discover-img-1 {
        grid-row: 2;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
    }

    .discover-img {
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #discover-img-1 {
        background-image: url(/wdd230/chamber/images/northtopsail.jpg);
        text-align: center;
    }

    #discover-img-2 {
        grid-row: 3;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        background-image: url(/wdd230/chamber/images/boatdock.jpg);
        text-align: center;
    }
    #discover-img-3 {
        background-image: url(/wdd230/chamber/images/sharkstore.jpg);
    }
    #discover-img-4 {
        background-image: url(/wdd230/chamber/images/shrimpfest.jpg);
        grid-row: 5;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
    }
    #discover-img-5 {
        background-image: url(/wdd230/chamber/images/sneadsferrygolf.jpg);
        grid-row: 6;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
    }

    #directorymain{
        text-align: center;
    }
    #directorymain .cards section{
        border: 1px solid;
        margin: 5px;
        text-align: center;
    }


    #weatherElement {
        grid-row: 3;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 2(1fr);
    }

    #weatherElementHead {
        grid-column: 1/3;
        grid-row: 1;
    }

    #currenttemp {
        grid-column: 1/2;
        grid-row: 2;
    }

    #condtion {
        grid-column: 1/2;
        grid-row: 2;
    }

    #weatherSubdiv {
        grid-column: 2/3;
        grid-row: 2/4;
        display: grid;
        grid-template-rows: 3(1fr);
    }
    #lowtemp {
        grid-row: 1;
    }
    #hightemp {
        grid-row: 2;
    }
    #humidity {
        grid-row: 3;
    }


    #newsElement, #discover-img-3 {
        grid-row: 4;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
    }

    #spotlightElement {
        grid-row: 5;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

    }

    #spotlight1 {
        grid-row: 1;
        border: 1px solid;
        margin: 5px;
    }

    #spotlight2 {
        grid-row: 2;
        border: 1px solid;
        margin: 5px;
    }
    #spotlight3 {
        grid-row: 3;
        border: 1px solid;
        margin: 5px;
    }

    /* Footer */

    #footer {
        background-color: white;
        text-align: center;
        margin-top: 20px;
    }

    #footerlogo {
        width: 50%;
        height: 50%;
        margin-top: 10px;
    }

    #footername {
        font-size: .75em;
    }

}

@media screen and (min-width: 391px){
    #content {
        width:100%;
        background-color: white;
        margin: 0;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    /* header */

    #header {
        display: grid;
        grid-template-rows: 100px 50px;
        width: 100%;
        height: 100%;
        background-color: white;  
    }

    #topnav {
        display: grid;
        grid-template-columns: 80px 1fr 80px;
        grid-template-rows: 40px 40px;
        grid-row: 1;
        height: 80px;
        text-align: center;
    }

    #logo {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1/3;
    }

    #topnav1 {
        grid-column: 2;
        grid-row: 1;
    }

    #topnav2 {
        grid-column: 2;
        grid-row: 2;
    }

    #menu {
        display: inline-block;
        cursor: pointer;
        grid-column: 3;
        grid-row: 1/3;
    }

    /* hide links */
    #topnav #myLinks {
        grid-column: 3;
        grid-row: 2;
        font-weight: bold;
        color: black;
        text-align: right;
        display: none;
    }

    /* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a#icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

    #bottomnav {
        grid-row: 2;
        text-align: center;
    }


    /* Main */

    #main {
        display: grid;
        grid-template-columns: 3(1/3);
        grid-template-rows: 5(1fr);
        margin: 5px;
        
    }

    .mainelement{
        background-color: #AADCEE;
    }

    #main-hero {
        grid-column: 1/4;
        grid-row: 1;
    }
    .hero {
        background-image: url(/wdd230/chamber/images/sneadsferryhero-medium.jpg);
        width: 100%;
        height: 200px;
        margin-top: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }

    #joinElement {
        grid-column: 1/4;
        grid-row: 4;
        height: 150px;
        width: 100%;
        text-align: center;
        border: 1px solid;
        margin-top: 10px;
    }

    #jointext {
        margin: 50px;
        color: black;
        font-weight: bold;
    }

    #eventElement {
        grid-column: 1/3;
        grid-row: 5;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        margin-right: 5px;
        text-align: center;
    }

    #weatherElement {
        grid-column: 3;
        grid-row: 5;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        margin-left: 5px;
    }

    #newsElement {
        grid-column: 1/4;
        grid-row: 2;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        text-align: center;
    }

    #spotlightElement {
        grid-column: 1/4;
        grid-row: 3;
        width: 100%;
        height: 200px;
        border: 1px solid;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 2(1fr);

    }

    #spotlight1 {
        grid-column: 1;
        border: 1px solid;
        margin: 5px;
    }

    #spotlight2 {
        grid-column: 2;
        border: 1px solid;
        margin: 5px;
    }


    #discover-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 6(1fr);
        margin: 5px;
    }

    #discover-hero {
        grid-column: 1/3;
        grid-row: 1;
    }

    .discover-img {
        background-repeat: no-repeat;
        background-position: center;
    }

    #discover-img-1 {
        background-image: url(/wdd230/chamber/images/northtopsail.jpg);
        text-align: center;
        
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 200px;
        margin: 5px 5px 5px 0;
    }

    #discover-img-2 {
        background-image: url(/wdd230/chamber/images/boatdock.jpg);
        text-align: center;
        grid-column: 2;
        grid-row: 3;
        width: 100%;
        height: 200px;
        margin: 0 5px 0 0;
    }
    #discover-img-3 {
        background-image: url(/wdd230/chamber/images/sharkstore.jpg);
        text-align: center;
        grid-column: 1;
        grid-row: 4;
        width: 100%;
        height: 200px;
        margin: 5px 5px 5px 0;
    }
    #discover-img-4 {
        background-image: url(/wdd230/chamber/images/shrimpfest.jpg);
        text-align: center;
        grid-column: 2;
        grid-row: 5;
        width: 100%;
        height: 200px;
        margin: 0 5px 0 0;
    }
    #discover-img-5 {
        background-image: url(/wdd230/chamber/images/sneadsferrygolf.jpg);
        text-align: center;
        grid-column: 1;
        grid-row: 6;
        width: 100%;
        height: 200px;
        margin: 5px 5px 5px 0;
    }

    /* Footer */

    #footer {
        background-color: white;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: 100px 1fr;
    }

    #footerlogo {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        float: left;
    }

    #footerp {
        grid-column: 2/4;
        
    }

    #footername {
        grid-column: 1/3;
        grid-row: 2;
        font-size: .75em;
        text-align: center;
    }

}

@media screen and (min-width: 912px){
    #content {
        width:100%;
        background-color: #AADCEE;
        margin: 0;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    #header {
        display: grid;
        grid-template-rows: 100px 50px;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    #topnav {
        display: grid;
        grid-template-columns: 80px 1fr 80px;
        grid-template-rows: 40px 40px;
        grid-row: 1;
        height: 80px;
        text-align: center;
    }

    #logo {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1/3;
    }

    #topnav1 {
        grid-column: 2;
        grid-row: 1;
    }

    #topnav2 {
        grid-column: 2;
        grid-row: 2;
    }

    #menu {
        display: inline-block;
        cursor: pointer;
        grid-column: 3;
        grid-row: 1/3;
    }

    /* hide links */
    #topnav #myLinks {
        grid-column: 3;
        grid-row: 2;
        font-weight: bold;
        color: black;
        text-align: right;
        display: none;
    }

    /* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a#icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

    #bottomnav {
        grid-row: 2;
        text-align: center;
    }


    /* Main */

    #main {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 3(1fr);
        margin-left: 0px;
    }

    #main-hero {
        grid-column: 2;
        grid-row: 1/3;
        width: auto;
        height: auto;
        margin: 10px 0px 10px 0px;
    }

    .hero {
        background-image: url(/wdd230/chamber/images/sneadsferryhero-large.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }

    #eventElement {
        grid-column: 1;
        grid-row: 1;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
    }

    #weatherElement {
        grid-column: 1;
        grid-row: 2;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
    }

    #joinElement {
        grid-column: 1;
        grid-row: 3;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
    }

    #newsElement {
        grid-column: 2;
        grid-row: 3;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
    }

    #spotlightElement {
        grid-column: 3;
        grid-row: 1/4;
        width: auto;
        height: auto;
        margin: 10px 10px 10px 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3(1/3);
    }

    #spotlight1 {
        grid-column: 1;
        grid-row: 1;
        border: solid 1px;
        margin: 5px;
    }

    #spotlight2 {
        grid-column: 1;
        grid-row: 2;
        border: solid 1px;
        margin: 5px;
    }

    #spotlight3 {
        grid-column: 1;
        grid-row: 3;
        border: solid 1px;
        margin: 5px;
    }



    #discover-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6(1fr);
        margin: 5px;
    }

    #discover-hero {
        grid-column: 1;
        grid-row: 1;
    }

    .discover-img {
        background-repeat: no-repeat;
        background-position: center;
    }

    #discover-img-1 {
        background-image: url(/wdd230/chamber/images/northtopsail.jpg);
        text-align: center;
        
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 200px;
        margin: 5px 5px 5px 0;
    }

    #discover-img-2 {
        background-image: url(/wdd230/chamber/images/boatdock.jpg);
        text-align: center;
        grid-column: 1;
        grid-row: 3;
        width: 100%;
        height: 200px;
        margin: 0 5px 0 0;
    }
    #discover-img-3 {
        background-image: url(/wdd230/chamber/images/sharkstore.jpg);
        text-align: center;
        grid-column: 1;
        grid-row: 4;
        width: 100%;
        height: 200px;
        margin: 5px 5px 5px 0;
    }
    #discover-img-4 {
        background-image: url(/wdd230/chamber/images/shrimpfest.jpg);
        text-align: center;
        grid-column: 1;
        grid-row: 5;
        width: 100%;
        height: 200px;
        margin: 0 5px 0 0;
    }
    #discover-img-5 {
        background-image: url(/wdd230/chamber/images/sneadsferrygolf.jpg);
        text-align: center;
        grid-column: 1;
        grid-row: 6;
        width: 100%;
        height: 200px;
        margin: 5px 5px 5px 0;
    }

    /* Footer */

    #footer {
        background-color: white;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: 100px 1fr;
    }

    #footerlogo {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        float: left;
    }

    #footerp {
        grid-column: 2/4;
        
    }

    #footername {
        grid-column: 1/3;
        grid-row: 2;
        font-size: .75em;
        text-align: center;
    }

}


#joinmain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#joinform {
    display: grid;
	grid-gap: 0.35rem;
	grid-template-columns: 1fr 1fr;
	width: 425px;
	align-items: center;
}
label{
    text-align: right;
}

#tymain {
    text-align: center;
}


.discover-img-text {
    position: absolute;
    text-align: center;
    background-color: #AADCEE;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility.2s;
}
.discover-img:hover .discover-img-text {
    visibility: visible;
    opacity: 1;
}

